extends _include/_layout
block title
    title= "tipsnote sample"
block meta
    meta(name='description', content='')
    meta(property='og:title', content='')
    meta(property='og:description', content='')
    meta(property='og:site_name', content='')
    meta(property='og:type', content='website')
    meta(property='og:image', content='')
block body
    .container
        //.container
        //p グリッドシステム(横一列で12カラム そのうちいくつ使うかを選択する)
        .row(style='margin-bottom:20px;margin-top:100px')
            .col-xs-1(style='background: #FFD8D8;border:1px solid #ccc;')
                div(style='background: #EAA2CF; padding: 15px 0;') 1カラム分
            .col-xs-1(style='background: #FFD8D8;border:1px solid #ccc;')
                div(style='background: #EAA2CF; padding: 15px 0;') 1カラム分
            .col-xs-1(style='background: #FFD8D8;border:1px solid #ccc;')
                div(style='background: #EAA2CF; padding: 15px 0;') 1カラム分
            .col-xs-1(style='background: #FFD8D8;border:1px solid #ccc;')
                div(style='background: #EAA2CF; padding: 15px 0;') 1カラム分
            .col-xs-1(style='background: #FFD8D8;border:1px solid #ccc;')
                div(style='background: #EAA2CF; padding: 15px 0;') 1カラム分
            .col-xs-1(style='background: #FFD8D8;border:1px solid #ccc;')
                div(style='background: #EAA2CF; padding: 15px 0;') 1カラム分
            .col-xs-1(style='background: #FFD8D8;border:1px solid #ccc;')
                div(style='background: #EAA2CF; padding: 15px 0;') 1カラム分
            .col-xs-1(style='background: #FFD8D8;border:1px solid #ccc;')
                div(style='background: #EAA2CF; padding: 15px 0;') 1カラム分
            .col-xs-1(style='background: #FFD8D8;border:1px solid #ccc;')
                div(style='background: #EAA2CF; padding: 15px 0;') 1カラム分
            .col-xs-1(style='background: #FFD8D8;border:1px solid #ccc;')
                div(style='background: #EAA2CF; padding: 15px 0;') 1カラム分
            .col-xs-1(style='background: #FFD8D8;border:1px solid #ccc;')
                div(style='background: #EAA2CF; padding: 15px 0;') 1カラム分
            .col-xs-1(style='background: #FFD8D8;border:1px solid #ccc;')
                div(style='background: #EAA2CF; padding: 15px 0;') 1カラム分
        .row(style='margin-bottom:20px;')
            .col-xs-8(style='background: #FFD8D8;border:1px solid #ccc;')
                div(style='background: #EAA2CF; padding: 15px 0;') 8カラム分
            .col-xs-4(style='background: #FFD8D8;border:1px solid #ccc;')
                div(style='background: #EAA2CF; padding: 15px 0;') 4カラム分
        .row(style='margin-bottom:20px;')
            .col-xs-4.col-xs-6(style='background: #FFD8D8;border:1px solid #ccc;')
                div(style='background: #EAA2CF; padding: 15px 0;') 4カラム分
            .col-xs-4.col-xs-6(style='background: #FFD8D8;border:1px solid #ccc;')
                div(style='background: #EAA2CF; padding: 15px 0;') 4カラム分
            .col-xs-4.col-xs-6(style='background: #FFD8D8;border:1px solid #ccc;')
                div(style='background: #EAA2CF; padding: 15px 0;') 4カラム分
        .row(style='margin-bottom:20px;')
            .col-xs-3(style='background: #FFD8D8;border:1px solid #ccc;')
                div(style='background: #EAA2CF; padding: 15px 0;') 3カラム分
            .col-xs-3(style='background: #FFD8D8;border:1px solid #ccc;')
                div(style='background: #EAA2CF; padding: 15px 0;') 3カラム分
            .col-xs-3(style='background: #FFD8D8;border:1px solid #ccc;')
                div(style='background: #EAA2CF; padding: 15px 0;') 3カラム分
            .col-xs-3(style='background: #FFD8D8;border:1px solid #ccc;')
                div(style='background: #EAA2CF; padding: 15px 0;') 3カラム分
        .row(style='margin-bottom:20px;')
            .col-xs-6(style='background: #FFD8D8;border:1px solid #ccc;')
                div(style='background: #EAA2CF; padding: 15px 0;') 6カラム分
            .col-xs-6(style='background: #FFD8D8;border:1px solid #ccc;')
                div(style='background: #EAA2CF; padding: 15px 0;') 6カラム分

    .body-inner
        .container
            .row
                .col-md-1.col-xs-6
                    .grid-exsample-1 1
                .col-md-1.col-xs-6
                    .grid-exsample-1 2
                .col-md-1.col-xs-6
                    .grid-exsample-1 3
                .col-md-1.col-xs-6
                    .grid-exsample-1 4
                .col-md-1.col-xs-6
                    .grid-exsample-1 5
                .col-md-1.col-xs-6
                    .grid-exsample-1 6
                .col-md-1.col-xs-6
                    .grid-exsample-1 7
                .col-md-1.col-xs-6
                    .grid-exsample-1 8
                .col-md-1.col-xs-6
                    .grid-exsample-1 9
                .col-md-1.col-xs-6
                    .grid-exsample-1 10
                .col-md-1.col-xs-6
                    .grid-exsample-1 11
                .col-md-1.col-xs-6
                    .grid-exsample-1 12
