extends _include/_layout
block title
    title= "tipsnote sample"
block meta
    meta(name='description', content='')
    meta(property='og:title', content='')
    meta(property='og:description', content='')
    meta(property='og:site_name', content='')
    meta(property='og:type', content='website')
    meta(property='og:image', content='')
block body
    .container
        //.container
        p グリッドシステム(横一列で12カラム そのうちいくつ使うかを選択する)
        .row(style='margin-bottom:20px;')
            .col-xs-1(style='background: #e6e6e6;border:1px solid #ccc;')
                div(style='background: #ccc; padding: 15px 0;') col-xs-1
            .col-xs-1(style='background: #e6e6e6;border:1px solid #ccc;')
                div(style='background: #ccc; padding: 15px 0;') col-xs-1
            .col-xs-1(style='background: #e6e6e6;border:1px solid #ccc;')
                div(style='background: #ccc; padding: 15px 0;') col-xs-1
            .col-xs-1(style='background: #e6e6e6;border:1px solid #ccc;')
                div(style='background: #ccc; padding: 15px 0;') col-xs-1
            .col-xs-1(style='background: #e6e6e6;border:1px solid #ccc;')
                div(style='background: #ccc; padding: 15px 0;') col-xs-1
            .col-xs-1(style='background: #e6e6e6;border:1px solid #ccc;')
                div(style='background: #ccc; padding: 15px 0;') col-xs-1
            .col-xs-1(style='background: #e6e6e6;border:1px solid #ccc;')
                div(style='background: #ccc; padding: 15px 0;') col-xs-1
            .col-xs-1(style='background: #e6e6e6;border:1px solid #ccc;')
                div(style='background: #ccc; padding: 15px 0;') col-xs-1
            .col-xs-1(style='background: #e6e6e6;border:1px solid #ccc;')
                div(style='background: #ccc; padding: 15px 0;') col-xs-1
            .col-xs-1(style='background: #e6e6e6;border:1px solid #ccc;')
                div(style='background: #ccc; padding: 15px 0;') col-xs-1
            .col-xs-1(style='background: #e6e6e6;border:1px solid #ccc;')
                div(style='background: #ccc; padding: 15px 0;') col-xs-1
            .col-xs-1(style='background: #e6e6e6;border:1px solid #ccc;')
                div(style='background: #ccc; padding: 15px 0;') col-xs-1
        .row(style='margin-bottom:20px;')
            .col-xs-8(style='background: #e6e6e6;border:1px solid #ccc;')
                div(style='background: #ccc; padding: 15px 0;') col-xs-8
            .col-xs-4(style='background: #e6e6e6;border:1px solid #ccc;')
                div(style='background: #ccc; padding: 15px 0;') col-xs-4
        .row(style='margin-bottom:20px;')
            .col-xs-4.col-xs-6(style='background: #e6e6e6;border:1px solid #ccc;')
                div(style='background: #ccc; padding: 15px 0;') col-xs-4
            .col-xs-4.col-xs-6(style='background: #e6e6e6;border:1px solid #ccc;')
                div(style='background: #ccc; padding: 15px 0;') col-xs-4
            .col-xs-4.col-xs-6(style='background: #e6e6e6;border:1px solid #ccc;')
                div(style='background: #ccc; padding: 15px 0;') col-xs-4
        .row(style='margin-bottom:20px;')
            .col-xs-3(style='background: #e6e6e6;border:1px solid #ccc;')
                div(style='background: #ccc; padding: 15px 0;') col-xs-3
            .col-xs-3(style='background: #e6e6e6;border:1px solid #ccc;')
                div(style='background: #ccc; padding: 15px 0;') col-xs-3
            .col-xs-3(style='background: #e6e6e6;border:1px solid #ccc;')
                div(style='background: #ccc; padding: 15px 0;') col-xs-3
            .col-xs-3(style='background: #e6e6e6;border:1px solid #ccc;')
                div(style='background: #ccc; padding: 15px 0;') col-xs-3
        .row(style='margin-bottom:20px;')
            .col-xs-6(style='background: #e6e6e6;border:1px solid #ccc;')
                div(style='background: #ccc; padding: 15px 0;') col-xs-6
            .col-xs-6(style='background: #e6e6e6;border:1px solid #ccc;')
                div(style='background: #ccc; padding: 15px 0;') col-xs-6
