@charset "UTF-8";
img{
  width: 100%;
  height: auto;
}

.body-inner{
  position: absolute;
  top:0;
  right:0;
  bottom:0;
  left:0;
  z-index: -1;
}
.grid-exsample-1 {
  background: #FFCBED;
  padding-top:30px;
  text-align: center;
  height: 3000px;
}

div{
  border:none!important;
  text-align: center;
}