doctype
html(lang='ja')
    head
        meta(charset='UTF-8')
        meta(http-equiv='X-UA-Compatible' content='IE=edge')
        meta(name='viewport', content='width=1170')
        meta(name='robots', content='index,follow')
        meta(name='format-detection', content='telephone=no')
        block title
        block meta
            meta(name='description', content='***********')
            meta(name='keywords', content='***********')
            meta(name="author", content="***********")
            meta(name="copyright", content="***********")
            meta(property='og:title', content='***********')
            meta(property='og:site_name', content='***********')
            meta(property='og:description', content='***********')
            meta(property='og:type', content='***********')
            meta(property='og:image', content='***********')
            meta(property='og:url', content='***********')
        link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous")
        link(rel='stylesheet', href="css/style.css")
    body
        block body
        script(src='js/bundle.js')
